.main {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
  margin-inline-start: calc(
    var(--app-shell-navbar-offset, 0rem) + var(--app-shell-padding)
  ) !important;
  padding-inline-start: var(--mantine-spacing-lg) !important;
  margin: var(--mantine-spacing-md);
  min-height: 96dvh;
  border-radius: var(--mantine-radius-lg);
  box-shadow: 0 0 1rem 0.25rem rgba(10, 10, 10, 1%);
}

.bg {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-8)
  );
}
