.navbar {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-8)
  );
  height: 100%;
  width: 100%;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
}

.header {
  margin: var(--mantine-spacing-sm) calc(var(--mantine-spacing-md) * -1) 0
    calc(var(--mantine-spacing-md) * -1);
}

.links {
  flex: 1;
  margin: auto calc(var(--mantine-spacing-md) * -1);
}

.footer {
  margin: auto calc(var(--mantine-spacing-md) * -1);
}
