.navbar {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-8)
  );
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--mantine-spacing-md) 0;
}

.header {
  margin-bottom: var(--mantine-spacing-sm);
}

.links {
  flex: 1;
  margin: auto calc(var(--mantine-spacing-md) * -1);
  padding: 0 var(--mantine-spacing-md);
}

.footer {
  margin: auto calc(var(--mantine-spacing-md) * -1);
  padding: 0 var(--mantine-spacing-md);
}
